@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: ralewayregular, sans-serif;
}
header {
width: 100%;
 height: 40px;
 /*border: solid 1px blue;*/
 color: white;
 background-color: black;
 font-size: 16px;
 letter-spacing: 1.2px;
}

.main-width {
  width: 1054px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav>ul>li {
  display: inline-block;
  padding-left: 40px;
  line-height: 40px;
  /*margin-top: 13px;*/
  font-weight: bold;
  font-size: 13px;
  position: relative;
}

nav>ul>li>ul {
  line-height: normal;
}

nav>ul>li:hover {
  cursor: pointer;
}

.invisible-triangle {
  height: 9px;
  left: 0;
  right: 0;
  top: -8px;
  position: absolute;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 9px solid black;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: relative;
  margin: 0 auto;
}

.dd-menu {
  top: 50px;
  left: 22px;
  padding: 6px 0 4px 0;
  display: none;
  background-color: black;
  z-index: 1;
  position: absolute;
}

.dd-menu li {
  padding: 7px 18px 7px 13px;
}

.logo {
  margin-top: 13px;
  float: left;
  text-transform: uppercase;

}
.logo p {
  font-weight: bold;
  font-size: 13px;
}
.logo span {
  color: #26c7a9;
  font-weight: bold;
  font-size: 13px;
}
.section-main {
 height: 504px;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,cfcfd1+100 */
background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 0%, #cfcfd1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fafafa 0%,#cfcfd1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fafafa 0%,#cfcfd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cfcfd1',GradientType=0 ); /* IE6-9 */

font-size: 0;
}

.change-page  {
  width:41px;
  height: 504px;
  display: inline-block;
  vertical-align: middle;
  /*border: solid 1px red;*/
  padding-top: 225px;
}
.change-page span {
font-size: 54px;
color: #26c7a9;
}
.change-page:last-child{
  text-align: right;
}
.box {
  height: 504px;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
}

.main-pic img {
  width:432px;
  height:auto;
  padding-top: 115px;
}
.img-list li {
  display: none;
}

.box-txt {
  width:540px;
  padding-right: 79px;
}
.box h1, .box span {
  text-transform: uppercase;
  font-size: 42px;
}
.box-txt span {
  color:#26c7a9;
  font-weight: bold;
}
.box h1 {
  margin: 132px 0 29px 0;
  text-align: center;
}
.box p {
  padding: 0 50px 0 50px;
  font-size: 13px;
  text-align:center;
  line-height: 24px;
}

.btn {
  color: white;
  background-color: #26c7a9;
  border-radius: 10px;
  font-size: 22px;
  text-align: center;
  /*vertical-align: middle;*/
}
.btn-main {
  width: 265px;
  height: 54px;
  padding: 14px 0 0 0;
  margin: 25px auto;
  text-align: center;
  display: block;
}
a {
  text-decoration: none;
}
.box-txt {
}
.section2 {
  widht: 100%;
  height: 322px;;
  margin-top: 27px;
  /*border: solid 1px blue;*/
  font-size: 0;
}
.pic {
  width: 334px;
  height: 253px;
  margin-right: 26px;
  display: inline-block;
  vertical-align: middle;
}
.pic:first-child {
  background-image: url("../imagesOk/box1_img.jpg");
  background-repeat: no-repeat;
}
.pic:nth-child(2) {
  background-image: url("../imagesOk/box2_img.jpg");
  background-repeat: no-repeat;
}

.pic:last-child {
  margin-right: 0;
  padding: 30px 33px 0 24px;
  border: solid 1px #d9d9d9;
}
.pic h3 {
  margin-bottom: 17px;
  font-size: 15px;
  font-weight: bold;
  visibility: visible;
}
.pic:first-child h3,.pic:nth-child(2) h3 {
  padding: 17px 0 23px 0;
  margin-top: 150px;
  padding-left: 12px;
  background-color: rgba(255, 255, 255, .5);
}


.pic p {
  font-size: 12px;
  color: #858585;
  line-height: 21px;
}

.pic hr {
  width: 137px;
  height: 8px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  background-color: #26c7a9;
}

.pic p:last-child {
  padding-top: 21px;
}
.section3 {
  width: 100%;
  height: 725px;
  /*border: solid 1px brown;*/
  background-color: #f0f0f0;
  font-size: 0;
}
.section3 h3 {
padding: 42px 0 3px 0;
font-size: 23px;
color: #5e5e5e;

}
.section3 hr {
  width: 320px;
  height: 9px;
  margin-top: 0;
  margin-bottom: 73px;
  display: block;
  background-color: #26c7a9;
}
.s3-box {
  width: 330px;
  height: 502px;
  display: inline-block;
  vertical-align: top;
  border: solid 1px #c2c2c2;
  margin-right: 32px;
  position: relative;
  text-align: center;
}

.s3-box:last-child {
  margin-right: 0;
}


.invisible-wrapper {
  height: 55px;
  left: 0;
  right: 0;
  top: -37px;
  position: absolute;

}
.outside-crcl {
  width: 55px;
  height: 55px;
  border: solid 1px #c2c2c2;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  background-color: white;
}

.inside-crcl {
  width: 26px;
  height: 26px;
  background-color: #c2c2c2;
  border-radius: 50%;
  position: absolute;
  top: 13.5px;
  left: 14px;
  margin: auto;
}
.main-crcl {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: solid 1px #c2c2c2;
  margin: 0 auto;

}
.s3-box h3 {
  margin: 27px 0 27px 0;
  padding: 0 0 3px 0;
  font-size: 23px;
  color: #26c7a9;
}
.s3-box-center h3 {
  color: white;
}

.list-wrapper {
  height:180px;
  width: auto;
  margin: 35px 0 26px 0;
}
.btn-list {
 padding: 5px 22px 5px 22px;
}
.main-crcl h3 {
  margin: 34px 0 0 0;
  font-size: 41px;
  font-weight: bold;
  color: #c2c2c2;
}
.main-crcl sup {
  font-size: 13px;
  font-weight: bold;
  top: -27px;

}
.main-crcl p {
  font-size: 15px;
  color: #c2c2c2;
}
.list-wrapper li {
  font-size: 24px;
  color: #949494;
  line-height: 44px;
}
.list-wrapper li:nth-of-type(2n+1) {
  background-color: #e3e3e3;
  color: #949494;
}
.list-wrapper li:nth-of-type(2n+2) {
  background-color: #f0f0f0;
  color: #757575;
}
.s3-box-center,
.s3-box-center .outside-crcl {
  background-color: #26c7a9;
  border-color: #26c7a9;
}

.s3-box-center .main-crcl,
.s3-box-center .inside-crcl,
.s3-box-center .btn-list {
  background-color: white;
}
.s3-box-center .main-crcl h3,
.s3-box-center .main-crcl p,
.s3-box-center .btn-list {
   color: #26c7a9;
}

.s3-box-center .list-wrapper li:nth-of-type(2n+2) {
  background-color: #e3e3e3;
  color: #949494;
}
.s3-box-center .list-wrapper li:nth-of-type(2n+1) {
  background-color: #f0f0f0;
  color: #757575;
}

.section4 {
  width: 100%;
  height:539px;
  /*border: solid 1px red;*/
}

.s4-right-wrapper,
.s4-let-wrapper {
  /*border: solid 1px black;*/
  height: 450px;
}
.s4-let-wrapper {
  width: 63%;
  float: left;
}
input[type="text"],
input[type="email"],
textarea {
  width: 633px;
  height: 66px;
  margin-bottom: 27px;
  padding-left: 15px;
  border: solid 1px #a1e6d1;
  color:#a3a3a3;
  font-size: 30px;
}

input[type="text"] {
  margin-top: 46px;
}

textarea{
  height: 187px;
  padding-top: 11px;
  resize: none;
}
.s4-right-wrapper {
  width: 36%;
  float: right;
}
.s4-pic {
  height: 260px;
  width: 300px;
  background-image: url('../imagesOk/red_chair.png');
  background-position: 37px 16px;
  background-size: 264px 210px;
  background-repeat: no-repeat;
  /*border: soild 1px red;*/
}
.personal-data {
  font-size: 20px;
  color: #a3a3a3;

}
.personal-data div {
  width: 80%;
float: right;
}
.contact-wrapper h3 {
  font-size: 19px;
  margin: 32px 0 6px 0;
}
.contact-wrapper hr {
  width: 319px;
  height: 8px;
  margin-top: 0;
  margin-bottom: 5px;
  display: block;
  background-color: #26c7a9;
}
.personal-data img {
  border: solid 1px #a1e6d1;
  margin-left: 12px;
}

input[type="submit"] {
  padding: 15px 107px 15px 107px;
  margin: 36px 0 0 19px;
  font-size: 34px;
}
}
footer {
  width: 100%;
  height: 104px;
}

.f-left-box {
  width:65%;
  height: 104px;
  display: inline-block;
  /*border: solid 1px green;*/
  vertical-align: top;
}
.f-left-box img {
  width: 20px;
  height: 20px;
}
.f-left-box p{
  margin-top:15px;
  font-size: 17px;
  color:#cdcdcd;
}
.f-center-box {
  width:17%;
  height: 104px;
  display: inline-block;
  /*border: solid 1px green;*/
  vertical-align: top;
}

.f-right-box {
  width: 17%;
  height: 104px;
  display: inline-block;
  /*border: solid 1px green;*/
  vertical-align: top;
  letter-spacing: 1.2px;
}
.f-right-box h3 {
  margin-top: 11px;
  margin-left: 33px;
  color:#cdcdcd;
  font-size: 20px;
}
footer span {
  font-weight: bold;
  color:#cdcdcd;
  font-size: 20px;
}

.application {
  height: 530px;
  padding: 30px 0 30px 0;
  background-color: #f9f9f9;
  padding:30px 0;
}
.application h3 {
  color: #575757;
  font-size: 19px;
  padding: 21px 0 21px 0;
}

.application header.align_right{
  text-align: right;
}

.application header {
  background-color:#f9f9f9;
  letter-spacing: normal;
}

.inline {
  display:inline-block;
  width:348px;
  padding:14px;
  vertical-align: top;
}


.application .form {
  margin-top: 100px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 306px;
  height:56px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:215ppx;
  padding:10px;
  margin-top: 100px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 260px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 27px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 146px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 146px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}
